@if (Request.IsAuthenticated)
{
    <text>
    <ul>
        <li>Xin chào, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!</li>
        <li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" style="float:right">Log off</a>
            }</li>
    </ul>
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
