<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
		<!-- Active shortcut -->
		<li class="current"><a href="./" class="shortcut-dashboard" title="Bảng thông tin">Bảng thông tin</a></li>
		<!-- Background shortcut -->
		<li><a href="#" class="shortcut-agenda" title="Bán hàng">Bán hàng</a></li>
		<li><a href="#" class="shortcut-contacts" title="Nhập kho">Nhập kho</a></li>
		<li><a href="/Doctor" class="shortcut-medias" title="Danh mục thuốc">Danh mục thuốc</a></li>
		<li><a href="#" class="shortcut-stats" title="Báo cáo">Báo cáo</a></li>
		<li><a href="/Store" class="shortcut-settings" title="Thiết lập">Thiết lập</a></li>

		<!-- Disabled shortcut -->
		<li><span class="shortcut-notes" title="Notes">Notes</span></li>
	</ul>