<div class="clear-left hidden-on-mobile">
    <ul class="mlddm">
        <li>
            <a href="#">Hệ thống</a>
            <ul>
                <li><a href="#">Thay đổi mật khẩu</a></li>
                <li><a href="#">Quản lý tài khoản</a></li>
                <li><a href="#">Quản lý nhóm tài khoản</a></li>
                <li><a href="#">Cấu hình hệ thống</a></li>
                <li><a href="#">Sao lưu dữ liệu</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Nghiệp vụ</a>
            <ul>
                <li><a href="#">Bán thuốc theo đơn bác sĩ</a></li>
                <li><a href="#">Bán thuốc không theo đơn</a></li>
                <li><a href="#">Quán lý xuất hàng bán buôn</a></li>
                <li><a href="#">Nhập thuốc</a></li>
                <li><a href="#">Xuất huỷ thuốc quá hạn, hư hỏng</a></li>
                <li><a href="#">Xuất hàng chuyển kho</a></li>
                <li><a href="#">Tạo đơn đặt hàng</a></li>
                <li><a href="#">Lập dự trù thuốc</a></li>
                <li><a href="#">Cài đặt tương tác thuốc</a></li>
                <li><a href="#">Quản lý hoá đơn xuất - nhập thuốc</a></li>
                <li><a href="#">Theo dõi hàng hoá sắp hết hạn sử dụng</a></li>
                <li><a href="#">Theo dõi hàng hoá sắp hết số lượng tối thiểu</a></li>
                <li><a href="#">Quản lý hàng tồn kho</a></li>
                <li><a href="#">Quản lý thẻ kho</a></li>
                <li><a href="#">Quản lý Xuất - Nhập - Tồn</a></li>
                <li><a href="#">Quản lý giá niêm yết</a></li>
                <li><a href="#">Quản lý biến động giá</a></li>
                <li><a href="#">Cập nhật số dư công nợ</a></li>
                <li><a href="#">Quản lý công nợ</a></li>
                <li><a href="#">Quản lý phiếu thu - Thu tiền</a></li>
                <li><a href="#">Quản lý chi tiền -  Phiếu chi</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Danh mục</a>
            <ul>
                <li><a href="#">Danh mục nhóm thuốc, vật tư</a></li>
                <li><a href="#">Danh mục hoạt chất</a></li>
                <li><a href="#">Danh mục thuốc vật tư</a></li>
                <li><a href="#">Danh mục thuốc - liều dùng</a></li>
                <li><a href="#">Danh mục bệnh</a></li>
                <li><a href="#">Danh mục Bệnh - Đơn thuốc</a></li>
                <li><a href="#">Danh mục nhóm khách hàng</a></li>
                <li><a href="#">Danh mục khách hàng</a></li>
                <li><a href="#">Danh mục bác sĩ</a></li>
                <li><a href="#">Danh mục nguồn gốc xuất xứ</a></li>
                <li><a href="#">Danh mục Nhà sản xuất</a></li>
                <li><a href="#">Danh mục Nhà cung cấp</a></li>
                <li><a href="#">Danh mục kho hàng</a></li>
                <li><a href="#">Danh mục đơn vị tính</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Báo cáo</a>
            <ul>
                <li><a href="#">Báo cáo nhập hàng</a></li>
                <li><a href="#">Báo cáo xuất hàng tổng hợp</a></li>
                <li><a href="#">Nhật ký bán lẻ</a></li>
                <li><a href="#">Báo cáo bán hàng</a></li>
                <li><a href="#">Báo cáo Xuất - Nhập - Tồn</a></li>
                <li><a href="#">Bảng kê đơn thuốc chi tiết</a></li>
                <li><a href="#">Bảng kê đơn thuốc tổng hợp</a></li>
                <li><a href="#">Bảng kê hóa đơn bán buôn</a></li>
                <li><a href="#">Báo cáo lợi nhuận theo đơn hàng</a></li>
                <li><a href="#">Báo cáo lợi nhuận theo từng mặt hàng</a></li>
                <li><a href="#">Báo cáo nhóm thuốc đang cung cấp</a></li>
                <li><a href="#">Báo cáo thuốc đang cung cấp</a></li>
                <li><a href="#">Báo cáo danh sách nhà cung cấp</a></li>
                <li><a href="#">Báo cáo danh sách khách hàng</a></li>
            </ul>
        </li>
    </ul>
</div>
