@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DatabaseManager</title>
</head>
<body>
    <div>
        @using (Html.BeginForm()) { 
            <input type="submit" value="Create" />
        }
    </div>
</body>
</html>
