@{
	ViewBag.Title = "Home Page";
}

<!-- Main title -->
<hgroup id="main-title" class="thin">
	<h1>@ViewBag.Title</h1>
	<h2>nov <strong>10</strong></h2>
</hgroup>

<!-- The padding wrapper may be omitted -->
<div class="with-padding">


</div>
